.featured-event {
  position: relative;
  margin: 16px;
  padding: 20px;
  border-radius: 22px;
  cursor: pointer;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: 1px solid #d7a728;
}
.event-badge{
       background: #1dbaff61;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 600;
    margin: auto;
    padding: 6px 16px;
    width: -webkit-max-content;
    width: max-content;
}

.event-prize{

        color: #ffcb2f;
    font-size: 36px;
    font-family: monospace;
    font-weight: 700;
    margin: 22px 0;
    text-align: center;
}

.event-teams{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:30px;

    margin-bottom:18px;
}

.team{

      background: #09004218;
    border-radius: 50%;
    font-size: 20px;
    width: 50px;

}

.event-teams span{

    color:white;

    font-size:36px;

    font-weight:bold;
}

.featured-event h2{

    color:white;

    text-align:center;
}

.featured-event p{

    text-align:center;

    color:#d7d7d7;
}
.featured-event {
  position: relative;
  margin: 16px;
  padding: 20px;
  border-radius: 22px;
  cursor: pointer;
  overflow: hidden;

  min-height: 280px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: 1px solid #d7a728;
}